bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

/client/node_modules/
/client/.env.local
/client/.env.*.local
/client/dist/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.vscode
/client/.idea
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?
